

body {
    background-color: #6d7f71;
}

header {
     display: flex;
    justify-content: center;
    align-content: center;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: whitesmoke;
    font-family: "roboto", "san-serif";
    font-size: 30px;
    text-align: center;
    margin: 0 10px;
}

p {
    color: white;
    font-family: "roboto", "san-serif";
    font-size: 15px;
    text-align: center;
    margin: 30px 40px;
    width: 90%;
}

.read-more-button {
    font-family: "roboto", "san-serif";
    color: white;
    background-color: #242d4e;
    border: none;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
   
}

.caroulse-container {
    max-width: 900px;
    position: relative;
}

.carousel-image {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-footer {
    position: fixed;
    bottom: 0;
}


@media (min-width: 320px) {
    .image-header {
        max-height: 15em;
    }
     .image-footer {
        max-height: 10em;
    }
}

@media (min-width: 768px) {
    .image-header {
        max-height: 19em;
    }
     .image-footer {
        max-height: 20em;
    }
}

@media (min-width: 1024px) {
    .image-header{
        max-height: 25em;
    }
     .image-footer {
        max-height: 14em;
    }
    p {
        width: 60%;
    }
    
}
