html {
    scroll-behavior: smooth;
}

body {
    background-color: #6d7f71;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 95%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 95;
}

header {
     display: flex;
    justify-content: center;
    align-content: center;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

h1, h2, h3 {
    color: whitesmoke;
    font-family: "roboto", "san-serif";
    text-align: center;
    margin: 0 10px;
}

.main-title {
    font-size: 30px;
}

p {
    color: white;
    font-family: "roboto", "san-serif";
    font-size: 15px;
    text-align: center;
    margin: 30px 40px;
    width: 90%;
}

button {
    font-family: "roboto", "san-serif";
    color: white;
    background-color: #242d4e;
    border: none;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
}

.button-nav {
    background: none;
    width: 80px;
    padding: 20px;
    border-radius: 0;
    font-size: large;
}

.dotts {
    width: 100px;
}

.space {
    background-color: #6d7f71;
    height: 20em;
}

.h1-slide {
    color: black;
    text-align: center;
    padding: 10px;
}

.dotts-indicators {
    display: flex;
    flex-direction: row;
}

.caroulse-container {
    max-width: 90%;
    position: relative;
    align-items: center;
    background-color: white;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
}

.carousel-image {
    display: none;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.carousel-image img {
    width: 90%;  
}


.fa-solid {
    flex-direction: row;
    padding: 10px;
    size: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-footer {
    position: fixed;
    bottom: 0;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6d7f71;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal-container img {
    width: 90%;
    padding: 30px;
}

.contact {
    width: 70%;
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: "roboto";
}

.contact-box {
    z-index: 98;
}
.author {
    z-index: 97;
}
.quizz {
    z-index: 97;
}


@media (min-width: 320px) {
    .image-header {
        max-height: 15em;
    }
     .image-footer {
        max-height: 10em;
    }
    
}

@media (min-width: 768px) {
    .image-header {
        max-height: 19em;
    }
     .image-footer {
        max-height: 15em;
    }
    .carousel-image img {
    width: 45%; 
    }
    .contact {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .image-header{
        max-height: 25em;
    }
     .image-footer {
        max-height: 14em;
    }
    p {
        width: 40%;
    }
    .caroulse-container {
        width: 60%;
    }
    
}

@media (min-width: 1440px)
